@media (min-width: 1024px) {
  .interesting__description {
    padding-right: 238px;
  }
}

@media (min-width: 1280px) {
  .interesting__description {
    padding-left: 100px;
    padding-right: 394px;
  }
}
